:root {
    --main-color: #234;
    --white-ish: #f2f2f2;
    --secondary-color: #678;
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: var(--white-ish);
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

svg {
    user-select: none; 
}

span, 
svg {
    pointer-events: none;
}

main {
    display: grid;
    grid-gap: 2rem;
    justify-items: center;
}

.blur {
    filter: blur(4px);
    transition: all 0.7s;
}

.card {
    background: transparent;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.7s;
}

.card-back,
.card-face {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-back {
    background: var(--secondary-color);
}
.card-face {
    transform: rotateY(180deg);
}

.congrats {
    margin: 0;
    text-align: center;
}

.game-completed {
    align-content: center;
    background: rgba(255, 255, 255, 0.9);
    color: var(--main-color);
    display: grid;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 0.7s;
    visibility: hidden;
    width: 100%;
}

.game-title {
    color: var(--main-color);
    font-weight: 300;
}

.game-title-header {
    margin-bottom: 2rem;
    text-align: center;
}

.icon {
    fill: var(--main-color);
    height: 45%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
}

.memory-game {
    display: grid;
    position: relative;
    /* Hinder blinking when tap on iOS  */
    /* https://stackoverflow.com/a/3516243 */
    -webkit-tap-highlight-color: transparent;
}

.memory-grid {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 7px;
    position: relative;
}

.new-game {
    background: var(--main-color);
    color: var(--white-ish);
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: 1em 1.2em;
    text-transform: uppercase;
    user-select: none;
}

.new-game.touch {
    background: var(--secondary-color);
}

.hidden-svgs {
    display: none;
}


.js-flip,
.js-match {
    cursor: initial;
    transform: rotateY(180deg);
}

.js-game-complete {
    overflow: hidden;
}

.js-game-complete > .game-completed {
    opacity: 1; 
    visibility: visible;
}

/* ***************************** */
/*     Colors for card faces    */
/* ***************************** */
$symbols: (
    "dice": lavender, "droplet": lemonchiffon, 
    "earth": lightblue, "headphones": lightcoral, 
    "library": lightgray, "rocket": lightgreen, 
    "star": lightpink, "trophy": lightseagreen
    );

@each $name, $color in $symbols {
    [data-symbol=#{$name}] > .card-face {
    background: $color;
  }
}
// Example:
// [data-symbol=dice] > .card-face {
//   background: lavender;
// }

/* ***************************** */
/*         Media queries         */
/* ***************************** */
@media (hover) {
    .new-game:hover {
        background: var(--secondary-color);
    }
}

@media screen and (min-width: 520px) {
    .memory-grid {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(4, 100px);
    }
}

@media screen and (max-height: 400px) {
    .memory-grid {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(4, 70px);
    }
}
