doctype html
html(lang='en')

head
    meta(charset='UTF-8') 
    meta(name='viewport' content='width=device-width, initial-scale=1.0') 
    meta(http-equiv='X-UA-Compatible' content='ie=edge') 
    link(rel='icon' type='image/png' href='favicon.png') 
    title Memory Game 
    //- Fonts
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:300,400') 
    //- Site css
    style
        include style/main.css

body
    header.game-title-header
        h1.game-title Memory Game
    main
        section.memory-game
            .memory-grid
            .game-completed
                h2.congrats Congrats!
                p.card-flips 
        button.new-game New Game

    script(src='js/main.js')